<!DOCTYPE html>
{% extends 'html_pages/base.html' %}
{% load list_item %}
<html lang="en" xmlns:photos>
    <head>
        {% block header %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>Personal questionnaire</title>
            <!-- css sheets -->
            {% load static %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static "css_pages/base.css" %}"/>
            <link rel="stylesheet" href="{% static "css_pages/view_answers.css" %}"/>
            <style>

            </style>
        {% endblock %}
    </head>
    <body>
        {% block content %}
            <main class="d-flex row min-vh-100 justify-content-center mw-100">
                <div class="container col-xl-6 col-lg-4 col-md-6 col-sm-6 col-9 justify-content-center align-self-center">
                    <form action="/view_answers/">
                    {% for form in formset %}

                        <label class="question">{{ names|list_item:forloop.counter0 }}, {{ age|list_item:forloop.counter0 }} </label>
                        <div>
                            <img src="{{media_url}}{{ img|list_item:forloop.counter0 }}" style="float: left" width="200" height="150"/>
                        </div>
                        <label class="question">{{ descriptions|list_item:forloop.counter0 }} </label>

                        <label class="question">pytania</label>
                        {% for pyt in question_content|list_item:forloop.counter0 %}
                            <label class="question">{{ pyt }}</label>
                        {% endfor %}
                        <label class="question">odpowiedzi</label>
                        {% for odp in questions|list_item:forloop.counter0 %}
                            <label class="question">{{ odp }}</label>
                        {% endfor %}


                        <!--TODO : nie dziala delete bo nwm jak wyglada struktura czatu-->
                        <!--<button type="submit2" class="btn btn-primary" id="decline" ><a href="{% url 'question_delete' user_index|list_item:forloop.counter0 %}">declinezle</a></button>-->
                        <button type="submit2" class="btn btn-primary" id="decline" ><a href="{% url 'match_delete' user_index|list_item:forloop.counter0 %}"></a>decline</button>
                        <!--TODO : nie dziala accept bo nwm jak wyglada struktura czatu-->
                        <button type="submit2" class="btn btn-primary" id="accept" ><a href="{% url 'match_accept' user_index|list_item:forloop.counter0 %}"></a>accept</button>

                    {% endfor %}

                    </form>
                </div>
            </main>
        {% endblock %}

    </body>
</html>
