<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'chatStyle.css' %}">
    <link type="text/javascript" href="{% static 'chatScript.js' %}">
</head>
<body>

<div class="popup-chat-list">

</div>

<p id="chat-list-button" onmouseover="displayChat()">
    Chats
</p>

<div id="chat-window" onmouseover="displayChat()" onmouseleave="hideChat()">
    test
    <div class="open-chat">
        <div class="open-chat-header">

        </div>
        <ul class="messageList">
            <li class="message">

            </li>
        </ul>
    </div>
    <div class="chat-history">
        <div class="search">
            <input type="text" placeholder="search">
        </div>
        <div class="history">
            <ul>
                {% for mes in chats %}
                    <li class="person" onclick="openChat({{ mes.chat_id }})">
                        {{ mes.username }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div> <!-- end chat-window -->

{{ chat_id|json_script:"chat_id" }}
{{ username|json_script:"username" }}
<script src="{% static "chatScript.js" %}"></script>
</body>
</html>
