#chat-list-button {
    border-radius: 25px;
    background: pink;
    padding: 20px;
    width: 100px;
    height: 20px;
    text-align: center;
    font-family: SansSerif, sans-serif;
    font-size: 20px;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
}

#chat-window {
    display: none;
    border-radius: 5px;
    background: pink;
    padding: 20px;
    font-family: SansSerif, sans-serif;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
}

body {
    background: white;
}

.container {
    margin: 0 auto;
    width: 750px;
    background: hotpink;
    border-radius: 5px;
}

.chat-history {
    width: 200px;
    float: left;
}

.search {
    padding: 20px;
}

.search input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
}


.history ul {
    padding: 20px;
    height: 770px;
}

.history li {
    padding-bottom: 20px;
    color: white;
}


